@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kablammo&family=Merriweather:wght@300&family=Roboto&family=Rubik+Puddles&family=Space+Grotesk&family=Teko:wght@300&family=Tilt+Prism&display=swap');
/* Details */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sec2{
    height: 100vh;
    /* background-color: rgb(175, 244, 244); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Merriweather', serif;
    flex-wrap: wrap;
}
.sec2 h2{
    font-size: 42px;
    padding-bottom: 19px;
}
.content{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 2fr 2fr 2fr;
    /* grid-gap: 26px; */
    grid-column-gap: 23px;
    /* border: 2px solid black; */
    width: 50%;
    /* position: absolute; */
    width: 80%;
    height: 86%;
    grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
}
.content .item{
    /* border: 2px solid red; */
    /* border-radius: 36px; */
    /* margin-left: 20px; */
        /* height: 198px;  */
        height: 174px;
}
.tim img{
    height: 173px;
    width: 448px;
    border-radius: 53px;
}
.tem{
    width: 470px;
}
.map img{
    width: 451px;
    height: 186px;
    border-radius: 91px;
}
.kits img{
    width: 452px;
    height: 176px;
    border-radius: 61px;
}
.item h3{
    font-size: 28px;
    /* margin-left: 145px; */
    text-align: center;
}
.in{
    text-align: center;
    font-size: 19px;

}
.fir .in{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.in span{
    font-size: 23px;
    /* padding: 5px; */
}